
.nav-bar{
    background-color: #0c4560  ;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.nav-link{
    color: #ffffff;
}

.logo{
    margin-left: 0px;
}
.pageName{
    margin-right: 0px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.headerContainter{
    margin-top: 10px;
    margin-bottom: 10px;
}

.person{
    height: 70%;
    width: 60%;
    position: center;
}

.theteam{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.teamdescription{
    color: gray();
    font-size: 14px;
    text-align: center;
}

.graphs{
    text-align: center;
    align-content: center;
    align-items: center;
}

.map{
    height: 100%;
    width: 100%;

}

.checkboxLabel {
    padding-left: 30px;
    padding-top : 30px;

}

.legendType {
    font-size: small;
    vertical-align: sub;
}

.legendDiv {
    padding: 3%;

}

.contentCointainer{
    color: black;
    background-color: white;
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
}

.opisFunkcionalnosti{
    font-size: 20px;
}

.graphs{
    color: black;
    font-size: 15px;
}

.containerStatistics{
    margin-left: 100px;
}

.TitleFront{
    font-size: 50px;
}