
.nav-bar{
    background-color: #0c4560  ;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.nav-link{
    color: #ffffff;
}

.bcg{
    background-color: #e5f3f5;
    height: 160px;
}
.logo{
    margin-top: 15px;
}
.pageName{
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.person{
    height: 70%;
    width: 60%;
    position: center;
}

.teamTitles{
    color: #0c4560;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.graphs{
    text-align: center;
    align-content: center;
    align-items: center;
}

.map{
    height: 100%;
    width: 100%;

}

.checkboxLabel {
    padding-left: 30px;
    padding-top : 30px;

}

.legendType {
    font-size: small;
    vertical-align: sub;
}

.legendDiv {
    padding: 3%;

}

.contentCointainer{
    color: black;
    background-color: white;
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.descriptionContainter{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
}

.aboutContainer{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a {
    color: #0c4560;
    cursor: pointer;
}

a:hover{
    color: #e5f3f5;
}

.opisFunkcionalnosti{
    font-size: 20px;
}

.graphs{
    color: black;
    font-size: 15px;
}

.containerStatistics{
    margin-left: 100px;
}

.TitleFront{
    font-size: 50px;
}