
.nav-bar{
    background-color: #0c4560  ;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 185px;
}

.nav-link{
    color: #ffffff;
}
.bcg{
    background-color: #e5f3f5;
    height: 160px;
}
.logo{
    margin-top: 15px;
}
.pageName{
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: 230px;
}

.teamPhoto{
    position: center;
    height: 300px;
    width: 230px;
}

.teamTitles{
    color: #0c4560;
    text-align: center;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.teamName{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.graphs{
    text-align: center;
    align-content: center;
    align-items: center;
}

.map{
    height: 100%;
    width: 100%;

}

.checkboxLabel {
    padding-left: 30px;
    padding-top : 30px;
}

.legendType {
    font-size: small;
    vertical-align: sub;
}

.legendDiv {
    padding: 3%;
}

.contentCointainer{
    color: black;
    background-color: white;
    padding-top: 30px;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.descriptionContainter{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
}

.aboutContainer{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a {
    color: #0c4560;
    cursor: pointer;
}

a:hover{
    color: #619ca5;
}

.opisFunkcionalnosti{
    font-size: 20px;
}

.graphs{
    color: black;
    font-size: 15px;
}

.containerStatistics{
    margin-left: 100px;
}

.TitleFront{
    font-size: 50px;
}

.containerBorders{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    margin: 0 auto;
}

.containerConditions{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    margin-left: 150px;
}

.containerEvents{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.stanjeIcons{
    justify-content: normal;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    background-color: #ACD1D4;
    margin-top: 6px;
}

.stanjeIcons img{
    height: 100px;
    margin: 0 auto;
}

